.wrapper {
	background-image: url("../media/images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
}

.jumbotron {
	opacity: 0.8;
}

.panel {
	opacity: 0.7;
}

h2 {
	font-family: 'Supermercado One', cursive;
	font-size: 40px;
}

.panel-heading {
	font-family: 'Supermercado One', cursive;
	font-size: 20px;
}

td {
	color: #8D425A;
}